.card {
    position: relative;
    width: 18%;
    aspect-ratio: 37 / 55;
    border-radius: 10px;
    transition: all .3s linear;
    background-size: cover;
}

.card:hover {
    transform: scale(1.1);
}

.cardContentWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

.cardTopSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
}

.cardProgressBar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 123, 255, 0.868);
    border-radius: 6px;
}

.cardBottomSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardCounts,
.cardViewWrapper,
.cardCommentWrapper {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.cardCounts {
    gap: 20px;
}

.cardViewWrapper,
.cardCommentWrapper {
    gap: 4px;
}

.cardCategoryDiv {
    font-size: 10px;
    font-weight: normal;
    background-color: rgba(0, 123, 255, 0.868);
    width: fit-content;
    padding: 5px 8px;
    border-radius: 10px;
}