header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
}

.searchWrapper {
    height: 20px;
    display: flex;
    gap: 8px;
}

.searchDiv {
    padding-left: 26px;
    margin-left: 26px;
    border-left: 2px solid gray;
}

.searchInput {
    height: 20px;
    background: none;
    border: none;
    color: white;
}

.searchInput:focus {
    outline: none;
}

.nextArticleWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    color: gray;
}

.nextArticleDue {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 20px;
}

.nextArticleWrapper span {
    font-weight: bold;
    color: white;
}

.linksWrapper {
    display: flex;
    gap: 10px;
}