.editorsChoiceWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackBackground {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 235px;
    z-index: -1;
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 960px;
    height: 60px;
    margin-bottom: 40px;
}

.controllerDiv {
    background-color: gray;
    display: flex;
    gap: 16px;
    padding: 6px 12px;
    border-radius: 20px;
}

.previousBtn,
.nextBtn {
    background: none;
    border: none;
    color: gainsboro;
    font-weight: bold;
    font-size: 18px;
}

.previousBtn:hover,
.nextBtn:hover {
    color: white;
}

.bottomSection {
    width: 86%;
    display: flex;
    justify-content: space-between;
}